<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>rateit.servlets.SignUp</servlet-class>
    </servlet>
<!--    <error-page>
        
        <error-code>404</error-code>
        <location>/error_page.jsp</location>
    </error-page>
    <error-page>
        
        <error-code>500</error-code>
        <location>/error_page.jsp</location>
    </error-page>-->
    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>rateit.servlets.LogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forgot</servlet-name>
        <servlet-class>rateit.servlets.Forgot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register_company</servlet-name>
        <servlet-class>rateit.servlets.Register_company</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_user_profile</servlet-name>
        <servlet-class>rateit.servlets.Update_user_profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>rateit.servlets.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Company_Login</servlet-name>
        <servlet-class>rateit.servlets.Company_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayImage</servlet-name>
        <servlet-class>rateit.servlets.DisplayImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckForLogin</servlet-name>
        <servlet-class>rateit.servlets.CheckForLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitReview</servlet-name>
        <servlet-class>rateit.servlets.SubmitReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Company_update_profile</servlet-name>
        <servlet-class>rateit.servlets.Cup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubReview</servlet-name>
        <servlet-class>rateit.servlets.SubReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewSubmit</servlet-name>
        <servlet-class>rateit.servlets.ReviewSubmit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckReview</servlet-name>
        <servlet-class>rateit.servlets.CheckReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Company_Profile_Update</servlet-name>
        <servlet-class>rateit.servlets.Company_Profile_Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Company_Logout</servlet-name>
        <servlet-class>rateit.servlets.Company_Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCompany</servlet-name>
        <servlet-class>rateit.servlets.SearchCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rsubmit</servlet-name>
        <servlet-class>rateit.servlets.Rsubmit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterCompany</servlet-name>
        <servlet-class>rateit.servlets.FilterCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCompany</servlet-name>
        <servlet-class>rateit.servlets.RemoveCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCompany</servlet-name>
        <servlet-class>rateit.servlets.AddCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemovePoll</servlet-name>
        <servlet-class>rateit.servlets.RemovePoll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cmp_Login</servlet-name>
        <servlet-class>rateit.servlets.Cmp_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndividualReview</servlet-name>
        <servlet-class>rateit.servlets.IndividualReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Redirect</servlet-name>
        <servlet-class>rateit.servlets.Redirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Redirect1</servlet-name>
        <servlet-class>rateit.servlets.Redirect1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPoll</servlet-name>
        <servlet-class>rateit.servlets.AddPoll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptRequest</servlet-name>
        <servlet-class>rateit.servlets.AcceptRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Redirect3</servlet-name>
        <servlet-class>rateit.servlets.Redirect3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendReport</servlet-name>
        <servlet-class>rateit.servlets.SendReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sendrepo</servlet-name>
        <servlet-class>rateit.servlets.Sendrepo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/LogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forgot</servlet-name>
        <url-pattern>/Forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register_company</servlet-name>
        <url-pattern>/Register_company</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_user_profile</servlet-name>
        <url-pattern>/Update_user_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Company_Login</servlet-name>
        <url-pattern>/Company_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayImage</servlet-name>
        <url-pattern>/DisplayImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckForLogin</servlet-name>
        <url-pattern>/CheckForLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitReview</servlet-name>
        <url-pattern>/SubmitReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Company_update_profile</servlet-name>
        <url-pattern>/Company_update_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubReview</servlet-name>
        <url-pattern>/SubReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewSubmit</servlet-name>
        <url-pattern>/ReviewSubmit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCompany</servlet-name>
        <url-pattern>/RemoveCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckReview</servlet-name>
        <url-pattern>/CheckReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Company_Profile_Update</servlet-name>
        <url-pattern>/Company_Profile_Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Company_Logout</servlet-name>
        <url-pattern>/Company_Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCompany</servlet-name>
        <url-pattern>/SearchCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rsubmit</servlet-name>
        <url-pattern>/Rsubmit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cmp_Login</servlet-name>
        <url-pattern>/Cmp_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndividualReview</servlet-name>
        <url-pattern>/IndividualReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemovePoll</servlet-name>
        <url-pattern>/RemovePoll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCompany</servlet-name>
        <url-pattern>/AddCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Redirect</servlet-name>
        <url-pattern>/Redirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Redirect1</servlet-name>
        <url-pattern>/Redirect1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPoll</servlet-name>
        <url-pattern>/AddPoll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptRequest</servlet-name>
        <url-pattern>/AcceptRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Redirect3</servlet-name>
        <url-pattern>/Redirect3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendReport</servlet-name>
        <url-pattern>/SendReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sendrepo</servlet-name>
        <url-pattern>/Sendrepo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
        15
    </session-timeout>
    </session-config>
</web-app>
