#preloader{
    height: 100%;
    width:100%;
    position:fixed;
    top:0; left:0;
    display: flex;
    justify-content: center;
    background-color: rgba(177, 179, 179, 0.473);
    align-items: center;
    z-index: 2;
}

.load{ 
    height: 70px;
    width: 70px;
}

.load img{
    height: 70px;
}